
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
	padding-bottom: 10px;
}

input {
	height: 40px;
	box-sizing: border-box;
	text-align: left;
	font-size: 12px;
	padding-left: 10px;

} 

input[type=text]{
	width: 420px;
	background-color: white;
	background-image: url("https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/052018/untitled-1_63.png?VaW1bs_mipmverkoNocEJNL6BKTHYW.R&itok=ThO1Yh_H");
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: 385px 5px;
}	

input[type=submit] {
	background-color: #F0F0F0;
	border: 1px solid #F0F0F0;
	border-radius: 2px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #696969;
	padding: 10px 15px;
	margin: 10px 3px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 25px;
	position: absolute;
	width: 100%;
	overflow: auto;
}

li {
	display: inline;
	padding: 0px 7px;
	font-size: 13px;
	font-family: sans-serif;
}

.search {
	text-align: center;
}

.topleft {
	text-align: left;
}

.topright {
	text-align: right;
	}

.header {
	width: 100%;
	top: 0px;
	position: fixed;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #F0F0F0;
	border: 0px solid #F0F0F0;
	padding: 25px 5px;
	margin: 0px;

}

.bottomleft {
	text-align: left;
}

.bottomright {
	text-align: right;
}


